@model List<Jinskin.Framework.Category>
@{
    ViewBag.Title = "CategoryAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel-heading">
    <h1>Category List</h1>
    <a href="/Admin/CreateCat" class="btn btn-success">Create</a>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Created Date</th>
                            <th>Order</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="odd gradeX">
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</td>
                                <td class="center">@item.Order.GetValueOrDefault(0)</td>
                                <td class="center">@(item.Status.GetValueOrDefault(false) ? "Actice" : "Blocked")</td>
                                <td>
                                    @*<input value="Edit" type="button" class="btn btn-success" onclick="ConfirmEditBlock('@item.ID')"/>*@
                                    
                                    <a href="/Admin/EditCat/@item.ID" class="btn btn-danger">Edit</a>
                                    <a href="/Admin/DeleteCat/@item.ID" class="btn btn-danger">Delete</a>
                                    <a href="/Admin/DetailsCat/@item.ID" class="btn btn-danger">Details</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    function ConfirmEditBlock(id) {
        $.ajax({
            url: '@Url.Action("GetCat", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
            }

        });
    }
</script>
